#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESCAPE        &kp Q         &kp W         &lt 3 E   &lt 2 R  &lt 1 T                                &lt 1 Y     &lt 2 U  &lt 3 I                &kp O           &kp P            &mt HOME END
&kp TAB           &kp A         &kp S         &lt 3 D   &lt 2 F  &lt 1 G                                &lt 1 H     &lt 2 J  &lt 3 K                &kp L           &kp K_SCROLL_UP  &kp K_SCROLL_DOWN
&kp LSHFT         &kp Z         &kp X         &lt 3 C   &lt 2 V  &lt 1 B                                &lt 1 N     &lt 2 M  &lt 3 INTERNATIONAL_4  &kp PAGE_UP     &kp UP_ARROW     &kp PAGE_DOWN
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp LGUI  &mo 3    &kp SPACE  &lt 3 ENTER  &kp BACKSPACE  &kp DELETE  &kp TAB  &kp LS(TAB)            &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp F1                   &kp F2        &kp F3      &kp F4       &kp F5                                              &kp F6         &kp F7                &kp F8             &kp F9         &kp F10           &trans
&trans  &kp EXCL                 &kp QUESTION  &kp DOLLAR  &kp AT_SIGN  &kp AMPERSAND                                       &kp ASTERISK   &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE    &kp PIPE       &kp LEFT_BRACKET  &trans
&trans  &kp INTERNATIONAL_3      &kp PERCENT   &kp HASH    &kp DOT      &kp SEMI                                            &kp LESS_THAN  &kp GREATER_THAN      &kp RIGHT_BRACKET  &kp BACKSLASH  &kp F11           &trans
&trans  &kp LS(INTERNATIONAL_3)  &kp UNDER     &kp CARET   &kp COMMA    &kp LS(INTERNATIONAL_1)  &kp DOUBLE_QUOTES  &trans  &trans         &trans                &trans             &trans         &kp F12           &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &kp KP_NUMLOCK     &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS                         &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp SLASH     &kp DOUBLE_QUOTES  &trans
&trans  &kp LS(TAB)        &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp AMPERSAND                     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOT       &kp MINUS          &trans
&trans  &kp SLASH          &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp COLON                         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_0  &kp EQUAL          &trans
&trans  &kp DOUBLE_QUOTES  &kp KP_NUMBER_0  &kp DOT          &kp MINUS        &kp SPACE      &kp ENTER  &trans  &trans        &trans        &trans        &mo 4         &kp COLON          &trans
            >;
        };

        bt_layer {
            bindings = <
&trans  &kp ESCAPE        &kp GRAVE       &trans        &kp LC(R)  &none                   &kp MINUS   &kp INSERT      &kp HOME        &kp PRINTSCREEN  &kp END          &trans
&trans  &kp TAB           &kp LG(LC(S))   &kp LC(Z)     &kp LC(Y)  &none                   &kp COMMA   &kp SEMICOLON   &kp PAGE_UP     &kp UP_ARROW     &kp PAGE_DOWN    &trans
&trans  &kp LS(CAPSLOCK)  &kp LC(X)       &kp LC(C)     &kp LC(V)  &none                   &kp PERIOD  &kp APOSTROPHE  &kp LEFT_ARROW  &kp DOWN_ARROW   &kp RIGHT_ARROW  &trans
&trans  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LEFT_ALT  &to 0      &trans  &trans  &trans  &trans      &trans          &trans          &trans           &kp LC(A)        &trans
            >;
        };

        layer_4 {
            bindings = <
&bt BT_SEL 4    &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR                  &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans          &trans        &trans        &trans        &trans        &trans                      &trans      &trans        &trans        &trans        &trans        &trans
&trans          &trans        &trans        &trans        &trans        &trans                      &trans      &trans        &trans        &trans        &trans        &trans
&bt BT_CLR_ALL  &trans        &trans        &trans        &trans        &trans      &trans  &trans  &trans      &trans        &trans        &to 0         &trans        &bt BT_CLR_ALL
            >;
        };
    };
};
